.sandbox-anchor {
  display: inline-block;
  position: relative;
  width: 20px;
  text-decoration: none;
  color: var(--color--secondary);
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color--body);
  }
}
