@font-face {
  src: local('Roboto'), local('Roboto-Regular'), url('./font__roboto_regular.woff2') format('woff2'), url('./font__roboto_regular.woff') format('woff');
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./font__roboto_700.woff2') format('woff2'), url('./font__roboto_700.woff') format('woff');
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}
