$checked-label-color: $color--highlight;
$checked-label-color--hover: lighten($color--highlight, 5%);

.checkbox-field_for_search-filter {
  .checkbox-field__label {
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border: 1px solid $cloudy-gray;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: rgba($light-gray, .5);
    }
  }

  &:focus-within {
    .checkbox-field__label {
      background-color: rgba($light-gray, .5);
    }
  }

  &.checkbox-field_checked {
    .checkbox-field__label {
      border-color: $checked-label-color;
      background-color: $checked-label-color;
      color: $white;

      &:hover {
        border-color: $checked-label-color--hover;
        background-color: $checked-label-color--hover;
      }
    }

    &:focus-within {
      .checkbox-field__label {
        border-color: $checked-label-color--hover;
        background-color: $checked-label-color--hover;
      }
    }
  }
}
