.action-card__method-href-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 12px;
  border-radius: 3px;
  background-color: rgba(15, 115, 238, .08);

  @media print {
    padding: 4px;
    border: 1px dashed var(--stroke-color--secondary);
    page-break-inside: avoid;
  }
}
