.section_for_transition {
  > .section__header {
    .section__title {
      margin: 0;
      font-size: 24px;
      line-height: 30px;

      @media print {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 4px;
      }
    }
  }

  > .section__body {
    margin-top: 42px;

    @media print {
      margin-top: 12px;
    }
  }
}
