.section_for_transition {
  .section__title {
    margin: $baseMargin 0;
    font-size: $baseFontSize;
    font-weight: 400;
  }

  &:first-child {
    .section__title {
      margin-top: 0;
    }
  }
}
