.search-field__option-text {
  overflow: hidden;
  padding-right: 4px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;

  &:focus {
    outline: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
