.code_theme_standard {
  display: inline-block;
  padding: 3px 6px;
  vertical-align: baseline;
  font-family: $baseFontStack_code;
  font-size: 14px;
  line-height: 1;
  border: 1px solid var(--stroke-color--primary);
  border-radius: 4px;
  background-color: var(--background-color--code);

  @media print {
    background: none;
  }

  &.code_recursive {
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--stroke-color--icon) url('./code_recursive.svg') no-repeat center;
      background-size: 9px 10px;
    }
  }
}
