.resource-group__heading {
  position: relative;
  margin: 0;
  padding: 9px 46px 9px 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  &:hover, &:focus-within {
    background-color: $background-color--hover;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background: transparent url('./resource-group__heading.svg') no-repeat center;
  }
}
