.resource-group__heading {
  position: relative;
  margin: 0;
  padding: $basePadding;
  padding-right: $basePadding * 2;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px 6px 0 0;
  background-color: $grayLight;

  &:hover {
    padding-left: $basePadding - 2px;
    border-left: 2px solid $blueDark;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: $basePadding;
    transform: translateY(-50%);
    width: 10px;
    height: 15px;
    background: transparent url('./resource-group__heading.svg') no-repeat center;
  }
}
