$delete-method-color--primary: $redDark;
$get-method-color--primary: $blueDark;
$head-method-color--primary: $blueDark;
$options-method-color--primary: $blueDark;
$patch-method-color--primary: $orangeDark;
$put-method-color--primary: $orangeDark;
$post-method-color--primary: $greenDark;

$delete-method-color--secondary: $redLight;
$get-method-color--secondary: $blueLight;
$head-method-color--secondary: $blueLight;
$options-method-color--secondary: $blueLight;
$patch-method-color--secondary: $orangeLight;
$put-method-color--secondary: $orangeLight;
$post-method-color--secondary: $greenLight;

$stroke-color--primary: $gray;
