$delete-method-color--primary: $red;
$get-method-color--primary: $blue;
$head-method-color--primary: $blue;
$options-method-color--primary: $blue;
$patch-method-color--primary: $orange;
$put-method-color--primary: $orange;
$post-method-color--primary: $green;

@mixin light-css-vars() {
  @include light-css-colors;

  --color--body: var(--dark-blue);
  --color--secondary: var(--dark-gray);
  --color--highlight: var(--text-blue);

  --stroke-color--primary: var(--gray);

  --background-color--body: var(--white);
}

@mixin dark-css-vars() {
  @include dark-css-colors;

  --color--body: var(--white);
  --background-color--body: var(--dark-blue);
}
