$delete-method-color--primary: $red;
$get-method-color--primary: $blue;
$head-method-color--primary: $blue;
$options-method-color--primary: $blue;
$patch-method-color--primary: $orange;
$put-method-color--primary: $orange;
$post-method-color--primary: $green;

@mixin light-css-vars() {
  @include light-css-colors;

  --color--body: var(--dark-blue);
  --color--secondary: var(--dark-gray);
  --color--highlight: var(--text-blue);

  --stroke-color--primary: var(--gray);

  --background-color--body: var(--white);
  --background-color--sidebar: var(--light-gray);
  --background-color--code: var(--light-gray);

  --stroke-color--checkbox-checked: var(--text-blue);
  --stroke-color--checkbox-hover: #{$blue};
  --stroke-color--checkbox-disabled: var(--gray);
  --background-color--checkbox-checked: var(--stroke-color--checkbox-checked);
  --background-color--checkbox-hover: var(--stroke-color--checkbox-hover);
  --background-color--checkbox-disabled: var(--stroke-color--checkbox-disabled);

  --background-color--toggler: #{$cloudy-gray};
  --background-color--toggler-hover: var(--dark-gray);
  --background-color--toggler-checked: #{$green};
  --background-color--toggler-disabled: var(--gray);
  --background-color--toggler-indicator: #{$white};
  --background-color--toggler-indicator-disabled: #{$cloudy-gray};

  --background-color--theme-toggler-icon: #{$orange};
  --background-color--theme-toggler-icon-active: #{$white};

  --stroke-color--icon: var(--dark-gray);
  --stroke-color--icon-hover: var(--dark-blue);
}

@mixin dark-css-vars() {
  @include dark-css-colors;

  --color--body: var(--white);
  --background-color--body: var(--dark-blue);
}
