.action-card__href {
  min-width: 0;
  margin-right: auto;
  padding: 1px 4px;
  word-wrap: break-word;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  background-color: $grayLight;
  color: $grayDark;
}
