.action-card__href {
  min-width: 0;
  padding: 3px 6px;
  word-wrap: break-word;
  font-family: $baseFontStack_code;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid $stroke-color--primary;
  border-radius: 4px;
  background-color: $white;
}
