.search-field__option {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 16px;

  &::before {
    margin-right: 12px;
    font-weight: 700;
    color: var(--color--searh-result-hint);
  }

  &:hover, &:focus-within {
    background-color: var(--background-color--searh-result-hover);
  }

  &_highlighted {
    background-color: var(--background-color--searh-result-hover);
  }

  &_type_group {
    &::before {
      content: 'Г';
    }
  }

  &_type_resource {
    &::before {
      content: 'Р';
    }
  }

  &_type_action {
    &::before {
      content: 'Э';
    }
  }

  &_type_message {
    &::before {
      content: 'С';
    }
  }
}
