.page__layout {
  display: flex;

  @media print {
    display: block;
  }

  > .page__body {
    @media not print {
      flex-grow: 1;
      width: 0;
      max-width: 800px;
    }
  }

  > .page__sidebar {
    flex-shrink: 0;

    @media print {
      min-width: 100% !important; // stylelint-disable-line declaration-no-important
    }
  }
}
