@import '../transition.vars';

.transition__example-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  margin: -#{$label-margin-vertical} -#{$label-margin-horizontal};
  padding: 0;

  @media print {
    margin: 0;
    padding-bottom: 4px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: $label-margin-vertical;
    left: $label-margin-horizontal;
    width: calc(100% - 2 * #{$label-margin-horizontal});
    height: 1px;
    background-color: $stroke-color--primary;

    @media print {
      display: none;
    }
  }
}
