.message-card__link {
  padding: 5px 6px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: $baseFontStack_code;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  background-color: $blue;
  color: $white;
}
