.message-card__link {
  padding: 5px 6px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: $baseFontStack_code;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  background-color: var(--background-color--message-card-link);
  color: var(--color--badge);
}
