.info-button {
  box-sizing: content-box;
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--background-color--info-button);

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    background-color: var(--background-color--info-button-hover);
  }

  &::after {
    content: '?';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: var(--color--info-button);
  }
}
