.action-card_type_get {
  .action-card__method {
    background-color: $get-method-color--primary;

    @media print {
      background: none;
    }
  }

  .action-card__method-href-container {
    background-color: rgba($get-method-color--primary, .08);

    @media print {
      background: none;
    }
  }

  .action-card__example-method {
    color: $get-method-color--primary;
  }
}
