.action-card_type_get {
  border-color: #bce8f1;

  .action-card__heading {
    border-color: #bce8f1;
    background-color: $blueLight;
  }

  .action-card__title {
    color: $blueDark;
  }

  .action-card__method {
    background-color: $blueDark;
  }
}
