.action-card_type_get {
  border-color: darken($get-method-color--secondary, 5%);

  .action-card__heading {
    border-color: darken($get-method-color--secondary, 5%);
    background-color: $get-method-color--secondary;
  }

  .action-card__title {
    color: $get-method-color--primary;
  }

  .action-card__method {
    background-color: $get-method-color--primary;
  }
}
