@font-face {
  src: local('PT Mono'), local('PTMono-Regular'), url('./font__pt-mono_regular.woff2') format('woff2');
  font-family: 'PT Mono';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
