@import '../../../common/colors/colors-sandbox-theme';

.sandbox-demo_has-theme-toggler {
  @include light-css-vars;

  @include light-css-vars-sandbox;

  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border-radius: 6px;
  box-shadow: inset 0 0 5px var(--box-shadow--sandbox-demo);
  background-color: var(--background-color--body);
  color: var(--color--body);

  .sandbox-demo__canvas {
    align-self: center;
    padding: 20px;
    box-shadow: inset 0 0 5px var(--box-shadow--sandbox-demo);
  }

  .sandbox-demo__theme-toggler {
    margin-left: 100px;
  }

  &.sandbox-demo_theme_dark {
    @include dark-css-vars;

    @include dark-css-vars-sandbox;
  }
}
