.document-warnings_for_error-page {
  .document-warnings__summary {
    display: none;
  }

  .document-warnings__list {
    max-height: none;
    padding: 16px 20px;
    border: 1px solid var(--stroke-color--primary);
  }

  .document-warnings__item {
    padding: 0;
    font-size: 14px;
    line-height: 16px;

    + .document-warnings__item {
      margin-top: 12px;
    }
  }

  .document-warnings__text {
    font-family: $baseFontStack_code;
  }

  .document-warnings__line {
    white-space: nowrap;
    font-weight: 500;

    + .document-warnings__text {
      margin-left: 12px;
    }
  }
}
