.service-info__definitions {
  display: grid;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
  column-gap: 20px;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: minmax(50px, max-content);
}
