.search-field_focused {
  .search-field__field {
    padding-left: 32px;
    background: var(--background-color--body) url('./search-field__field.svg') no-repeat left 10px center;
    background-size: 14px;
  }
}
