.resource-group-section__anchor {
  display: inline-block;
  opacity: .15;
  overflow: hidden;
  max-width: 100%;
  margin-left: 5px;
  text-decoration: none;
  vertical-align: top;
  font-size: 30px;
  color: rgba($black, .7);
}
