@import '../sandbox-navigation.vars';

.sandbox-navigation__link {
  display: block;
  padding: $sandbox-navigation--padding-vrt $sandbox-navigation--padding-hrz;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color--body);

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--background-color--menu-hover);
  }
}
