.resource-group-section__heading {
  position: relative;
  margin: 0;
  padding-top: 26px;
  text-decoration: none;
  text-overflow: ellipsis;
  font-size: 40px;
  line-height: 48px;

  @media print {
    padding-top: 30px;
    font-size: 24px;
    line-height: 28px;

    &::before {
      counter-increment: resourceGroupSection;
      content: counter(resourceGroupSection) '. ';
    }
  }
}
