.resource-group-section__heading {
  position: relative;
  margin: 0;
  padding-top: 26px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 40px;
  line-height: 48px;
}
