.resource-group-section__heading {
  position: relative;
  margin: 0 0 12px;
  padding: $basePadding;
  padding-right: $basePadding * 2;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 40px;
  line-height: 48px;
  border: 1px solid $stroke-color--primary;
  border-radius: 6px 6px 0 0;
  background-color: $grayLight;
}
