.action-card__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;

  @media print {
    padding: 4px 0 12px;
    font-size: 17px;
    line-height: 18px;
    color: var(--color--heading-print);

    &::before {
      counter-increment: actionCard;
      content: counter(resourceGroupSection)  '.' counter(resourceSection) '.' counter(actionCard) '. ';
    }
  }

  + .action-card__method-href-container {
    margin-top: 18px;

    @media print {
      margin-top: 8px;
    }
  }
}
