.menu_type_side {
  .menu__item-content {
    text-decoration: none;
    color: $black;
  }

  .menu__item-text {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  .menu__item_level_2 {
    > .menu__item-content {
      padding: 17px 46px 17px 30px;

      > .menu__item-text {
        padding-left: 18px;
      }
    }
  }

  .menu__item_level_3 {
    font-size: 12px;
    line-height: 16px;

    > .menu__item-content {
      padding: 18px 46px 18px 30px;

      > .menu__item-text {
        padding-left: 36px;
      }
    }
  }

  .menu__item_badged {
    > .menu__item-content {
      > .menu__item-text {
        padding-right: $basePadding;
      }
    }
  }

  .menu__item_has-submenu {
    .menu__item-content {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        background: transparent url('./menu__item_has-submenu.svg') no-repeat center;
      }
    }

    .menu__item-submenu {
      overflow: hidden;
    }
  }

  .menu__item_collapsed {
    .menu__item-content {
      &::before {
        background-image: url('./menu__item_collapsed.svg');
      }
    }
  }

  .menu__item_nested {
    position: relative;
    font-weight: 500;

    .menu__item-content {
      display: block;

      &:hover {
        background-color: #eceef2;
      }
    }

    .menu__item-icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
}
