.menu_type_side {
  .menu__item-title {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .menu__item-text {
    display: -webkit-box; // stylelint-disable-line value-no-vendor-prefix
    overflow: hidden;
    max-width: 100%;
    padding: 9px 0;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    color: $color--body;

    // https://github.com/postcss/autoprefixer/issues/776
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical; // stylelint-disable-line property-no-vendor-prefix
    -webkit-line-clamp: 3; // stylelint-disable-line property-no-vendor-prefix

    @media print {
      padding: 0;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }

    &::before {
      @media not print {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .menu__item_level_1 {
    @media print {
      counter-reset: menuItemLevel2;
      counter-increment: menuItemLevel1;
    }

    .menu__item-title {
      font-weight: 500;
    }

    .menu__item-text {
      @media print {
        &::before {
          content: counter(menuItemLevel1) ". ";
          padding-right: 3px;
        }
      }
    }
  }

  .menu__item_level_2 {
    @media print {
      counter-reset: menuItemLevel3;
    }

    .menu__item-text {
      padding-left: 18px;

      @media print {
        &::before {
          counter-increment: menuItemLevel2;
          content: counter(menuItemLevel1) "." counter(menuItemLevel2) ". ";
          padding-right: 3px;
        }
      }
    }
  }

  .menu__item_level_3 {
    .menu__item-text {
      padding-right: 8px;
      padding-left: 36px;

      @media print {
        &::before {
          counter-increment: menuItemLevel3;
          content: counter(menuItemLevel1) "." counter(menuItemLevel2) "." counter(menuItemLevel3) ". ";
          padding-right: 3px;
        }
      }
    }
  }

  .menu__item:not(.menu__item_has-submenu) {
    > .menu__item-content {
      display: flex;

      > .menu__item-title {
        padding-right: 54px;

        &:hover, &:focus-within {
          background-color: $background-color--hover;
        }
      }

      .menu__item-icon {
        position: absolute;
        right: 16px;
        line-height: 10px;

        @media print {
          position: static;
        }
      }
    }
  }

  .menu__item-title_highlighted {
    > .menu__item-text {
      color: $color--highlight;
    }
  }
}
