.resource-group__title {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  color: rgba($black, .7);

  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
