.resource-group__title {
  display: -webkit-box; // stylelint-disable-line value-no-vendor-prefix
  overflow: hidden;
  max-width: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
  color: $color--body;

  // https://github.com/postcss/autoprefixer/issues/776
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical; // stylelint-disable-line property-no-vendor-prefix
  -webkit-line-clamp: 3; // stylelint-disable-line property-no-vendor-prefix

  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
