.pagination__button {
  display: inline-block;
  padding: 8px 14px;
  font-weight: 600;
  border-radius: 3px;

  &:hover, &:focus {
    color: $color--highlight;
  }

  &:focus {
    outline: none;
  }
}
