// stylelint-disable selector-max-type, no-descending-specificity

.raw-content {
  font-family: $baseFontStack;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: var(--color--body);

  @media print {
    line-height: 20px;
  }

  h1 {
    margin: $baseMargin 0;
    font-size: 36px;
    line-height: 40px;

    @media print {
      margin: $baseMargin / 2 0;
      font-size: 26px;
      line-height: 30px;
    }
  }

  h2 {
    margin: $baseMargin 0;
    font-size: 30px;
    line-height: 36px;

    @media print {
      margin: $baseMargin / 2 0;
      font-size: 20px;
      line-height: 26px;
    }
  }

  h3 {
    margin: $baseMargin 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;

    @media print {
      margin: $baseMargin / 2 0;
      font-size: 16px;
      line-height: 20px;
    }
  }

  h4, h5, h6 {
    margin: $baseMargin 0;

    @media print {
      margin: $baseMargin / 2 0;
    }
  }

  p {
    margin: 0 0 10px;

    @media print {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  div {
    margin: 0 0 10px;

    @media print {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: var(--color--highlight);

    &:focus,
    &:hover {
      outline: 0;
      text-decoration: underline;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  ul, ol {
    padding-left: 2em;

    > li {
      p {
        margin: 0;
      }
    }
  }

  blockquote {
    margin: $baseMargin 0;
    padding: 10px 20px;
    font-size: 16px;
    border-left: 5px solid var(--stroke-color--primary);
    color: var(--color--body);

    @media print {
      margin: $baseMargin / 2 0;
      padding: 5px 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  code {
    display: inline-block;
    padding: 0 4px;
    vertical-align: baseline;
    font-family: $baseFontStack_code;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px var(--stroke-color--primary);
    background-color: var(--background-color--code);
    color: var(--color--body);
  }

  pre {
    overflow: auto;
    padding: $basePadding;
    font-family: $baseFontStack_code;
    border-radius: 3px;
    background-color: var(--background-color--code);

    code {
      display: block;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      color: var(--color--body);
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: $baseMargin;

    th, td {
      padding: $basePadding / 2 $basePadding;
      border: 1px solid var(--stroke-color--primary);
    }

    tr:nth-child(2n) {
      background-color: var(--background-color--table-highlight);
    }
  }
}
