.button_theme_sandbox {
  padding: $basePadding / 2 $basePadding;
  border: 1px solid transparent;
  border-radius: 6px;
  background: var(--background-color--button-sandbox);
  color: var(--color--body);

  &:focus,
  &:hover {
    outline: none;
    background: var(--background-color--button-sandbox-sandbox-hover);
  }
}
