$white: #fff;
$black: #000;
$gray: #d9d9d9;
$red: #ce8383;
$orange: #ed9c28;
$green: #93cd7c;
$blue: #70bbe1;

$blueLight: #d9edf7;
$greenLight: #dff0d8;
$orangeLight: #fcf8e3;
$redLight: #f2dede;
$grayLight: #f2f2f2;

$grayExtraLight: #fbfbfb;
$grayDark: #333;
$blueDark: #428bca;
