$baseFontSize: 14px;
$baseLineHeight: 18px;
$baseFontFamily: Montserrat;
$baseFontStack: $baseFontFamily, Helvetica, sans-serif;

$headingFontFamily: Montserrat;
$headingFontStack: $headingFontFamily, Helvetica, sans-serif;
