// stylelint-disable selector-max-type

.information_type_note {
  border-color: $blue;
  background-color: rgba($blue, .05);

  h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: $blue;
  }
}
