/* stylelint-disable selector-max-type, selector-no-qualifying-type */

html {
  @include light-css-vars;

  &.dark {
    @media not print {
      @include dark-css-vars;
    }
  }
}

body {
  font-family: $baseFontStack;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background-color: var(--background-color--body);
  color: var(--color--body);

  @media print {
    line-height: 20px;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}
