/* stylelint-disable selector-max-type */

body {
  font-family: $baseFontStack;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $color--body;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}
