.action-card_type_patch {
  .action-card__method {
    background-color: $patch-method-color--primary;

    @media print {
      background: none;
    }
  }

  .action-card__method-href-container {
    background-color: rgba($patch-method-color--primary, .08);

    @media print {
      background: none;
    }
  }

  .action-card__example-method {
    color: $patch-method-color--primary;
  }
}
