.resource__heading {
  position: relative;
  margin: 0;
  padding-top: 16px;
  font-size: 24px;
  line-height: 30px;

  @media print {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 20px;
    line-height: 24px;
    color: $blue;

    &::before {
      counter-increment: resourceSection;
      content: counter(resourceGroupSection)  '.' counter(resourceSection) '. ';
    }
  }
}
