.resource__heading {
  position: relative;
  margin: 0;
  padding-top: 16px;
  font-size: 24px;
  line-height: 30px;

  @media print {
    font-size: 18px;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 15px;

    &:before {
      counter-increment: resourceSection;
      content: counter(resourceGroupSection)  "." counter(resourceSection) ". ";
    }
  }
}
