$vertical-padding: 40px;
$horizontal-padding: 50px;

.page__aside_for_actions {
  position: absolute;
  top: $vertical-padding;
  right: $horizontal-padding;

  @media print {
    display: none;
  }

  .page__aside-element {
    + .page__aside-element {
      margin-top: 20px;
    }
  }

  .page__aside-element_for_theme-toggler {
    text-align: right;
  }

  .page__aside-element_for_notification {
    position: sticky;
    top: $vertical-padding;
  }

  .page__aside-element_for_info-button {
    position: fixed;
    right: $horizontal-padding;
    bottom: $vertical-padding;
    margin-top: 0;
  }

  &.page__aside_with_notification {
    bottom: 0;
    pointer-events: none;

    .page__aside-element {
      pointer-events: auto;
    }
  }
}
