.action-card_type_head {
  border-color: darken($head-method-color--secondary, 5%);

  .action-card__heading {
    border-color: darken($head-method-color--secondary, 5%);
    background-color: $head-method-color--secondary;
  }

  .action-card__title {
    color: $head-method-color--primary;
  }

  .action-card__method {
    background-color: $head-method-color--primary;
  }
}
