.print-menu {
  display: none;

  @media print {
    counter-reset: menuItemLevel1;
    display: block;

    &::before {
      content: attr(data-title);
      display: block;
      margin: 0 30px 10px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
