.crafter-diagnostic-message_type_warning {
  .crafter-diagnostic-message__header {
    &::before {
      content: 'Warning';
      background: $orange url('./crafter-diagnostic-message_type_warning.svg') no-repeat left 12px top 8px;
      background-size: 13px 12px;
    }
  }
}
