.notification__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: var(--stroke-color--icon);

  &:hover,
  &:focus {
    color: var(--stroke-color--icon-hover);
  }
}
