.serp-list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;

  &:hover {
    color: $color--secondary;
  }

  &:focus {
    outline: none;
    color: $color--secondary;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
