.page-title_for_main-content {
  .page-title__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    color: var(--color--body);

    &:hover,
    &:focus {
      outline: none;
      color: var(--color--highlight);
    }
  }
}
