.action-card_type_options {
  border-color: darken($options-method-color--secondary, 5%);

  .action-card__heading {
    border-color: darken($options-method-color--secondary, 5%);
    background-color: $options-method-color--secondary;
  }

  .action-card__title {
    color: $options-method-color--primary;
  }

  .action-card__method {
    background-color: $options-method-color--primary;
  }
}
