.parameter__code {
  display: inline-block;
  padding: 2px 6px;
  vertical-align: middle;
  font-family: $baseFontStack_code;
  border: 1px solid $stroke-color--primary;
  border-radius: 4px;
  background-color: $light-gray;

  @media print {
    background: none;
  }
}
