.action-card_type_delete {
  border-color: darken($delete-method-color--secondary, 5%);

  .action-card__heading {
    border-color: darken($delete-method-color--secondary, 5%);
    background-color: $delete-method-color--secondary;
  }

  .action-card__title {
    color: $delete-method-color--primary;
  }

  .action-card__method {
    background-color: $delete-method-color--primary;
  }
}
