.action-card_type_post {
  .action-card__method {
    background-color: $post-method-color--primary;
  }

  .action-card__method-href-container {
    background-color: rgba($post-method-color--primary, .08);
  }

  .action-card__example-method {
    color: $post-method-color--primary;
  }
}
