.action-card_type_post {
  .action-card__method {
    background-color: $post-method-color--primary;

    @media print {
      background: none;
    }
  }

  .action-card__method-href-container {
    background-color: var(--background-color--action-card-post);

    @media print {
      background: none;
    }
  }

  .action-card__example-method {
    color: $post-method-color--primary;
  }
}
