.action-card__method {
  margin-right: $baseMargin;
  padding: $basePadding / 2 $basePadding;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  background-color: $grayDark;
  color: $white;
}
