.action-card__method {
  padding: 5px 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $baseFontStack_code;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 3px;
  color: var(--color--badge);

  @media print {
    border: 1px dashed var(--stroke-color--secondary);
    background: none;
    color: var(--color--body);
  }

  + .action-card__href {
    margin-left: 10px;
  }
}
