.action-card__method {
  padding: 5px 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $baseFontStack_code;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  background-color: $blue;
  color: $white;

  @media print {
    border: 1px dashed $ebony;
    background: none;
    color: $ebony;
  }

  + .action-card__href {
    margin-left: 10px;
  }
}
