.attribute__code {
  display: inline-block;
  padding: 3px 6px;
  vertical-align: top;
  font-family: monospace;
  font-size: 14px;
  line-height: 1;
  border: 1px solid $stroke-color--primary;
  border-radius: 4px;
  background-color: $grayLight;
}
