@import '../seach-field.vars';

.search-field__clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $search-field-height;
  height: $search-field-height;
  color: var(--color--search-field-clear);

  &:hover,
  &:focus {
    color: var(--color--body);
  }
}
