@import '../seach-field.vars';

.search-field__clear-button {
  width: $search-field-height;
  height: $search-field-height;
  background: transparent url('./search-field__clear-button.svg') no-repeat center;
  background-size: 10px;

  &:hover, &:focus {
    background-image: url('./search-field__clear-button--focused.svg');
  }
}
