// stylelint-disable selector-max-type

.code-snippet {
  padding: 12px 40px 12px 20px;
  font-family: $baseFontStack_code;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  background-color: $grayLight;

  @media print {
    background: none;
    padding: 0;
    line-height: 16px;
  }

  pre {
    margin: 0;
  }
}
