// stylelint-disable selector-max-type

.code-snippet {
  padding: 12px 40px 12px 20px;
  font-family: $baseFontStack_code;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  background-color: $light-gray;

  @media print {
    padding: 8px;
    line-height: 16px;
    border: 1px solid $gray;
    background: none;
  }

  pre {
    margin: 0;
  }
}
