// stylelint-disable selector-max-type

.code-snippet {
  padding: 12px 40px 12px 20px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  background-color: $grayLight;

  pre {
    margin: 0;
  }
}
