/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Red */
.hljs-attr {
  color: var(--color--body);
}

/* Tomorrow Orange */
.hljs-number,
.hljs-literal,
.hljs-params {
  color: var(--color--number);
}

/* Tomorrow Green */
.hljs-string {
  color: var(--color--string);
}

/* Query String Value */
.hljs-value {
  color: var(--color--query-value);
}

.hljs {
  display: block;
  overflow-x: auto;
  font-family: $baseFontStack_code;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
