.search-stripe__button-hint {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 4px), -50%);
  width: 150px;
  padding: 20px;
  border: 1px solid var(--stroke-color--primary);
  border-radius: 3px;
  background-color: var(--background-color--body);
  pointer-events: none;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
  }

  &::before {
    z-index: 2;
    left: -8px;
    border-width: 7px 8px 7px 0;
    border-color: transparent var(--background-color--body) transparent transparent;
  }

  &::after {
    left: -10px;
    border-width: 8px 10px 8px 0;
    border-color: transparent var(--stroke-color--primary) transparent transparent;
  }
}
