.menu-collapsible-section__switcher {
  flex-shrink: 0;
  width: 54px;
  background: transparent url('./menu-collapsible-section__switcher.svg') no-repeat center;
  background-size: 13px 1px;

  &:hover, &:focus {
    background-image: url('./menu-collapsible-section__switcher--focused.svg');
  }

  &:focus {
    outline: none;
  }
}
