.menu-collapsible-section__switcher {
  flex-shrink: 0;
  position: relative;
  width: 54px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 1px;
    height: 13px;
    background-color: currentColor;
    transition: transform .2s;
  }

  &:focus {
    outline: none;
  }
}
