@import '../sandbox-navigation.vars';

.sandbox-navigation__service-link {
  padding: $sandbox-navigation--padding-vrt $sandbox-navigation--padding-hrz;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #14182f;

  &:hover,
  &:focus {
    outline: none;
    color: #253cff;
  }
}
