// stylelint-disable selector-max-type

.information_type_warning {
  border-color: $red;
  background-color: rgba($red, .05);

  h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: $red;
  }
}
