.print-menu__item_type_category {
  @media print {
    counter-reset: menuItemLevel2;
    counter-increment: menuItemLevel1;
    padding-left: 30px;

    &::before {
      content: counter(menuItemLevel1) '. ';
      padding-right: 3px;
    }
  }
}
