.print-menu__item_type_resource {
  @media print {
    counter-reset: menuItemLevel3;
    padding-left: 60px;

    &::before {
      counter-increment: menuItemLevel2;
      content: counter(menuItemLevel1) '.' counter(menuItemLevel2) '. ';
      padding-right: 3px;
    }
  }
}
