.attribute_has-children {
  &:not(.attribute_static) {
    > .attribute__row {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 8px;
        width: 0;
        height: 0;
        border-width: 6px 4px 0;
        border-style: solid;
        border-color: #8b929c transparent transparent;
      }
    }
  }

  &.attribute_collapsed {
    .attribute__children {
      visibility: hidden;
    }

    > .attribute__row {
      &::before {
        border-width: 4px 0 4px 6px;
        border-style: solid;
        border-color: transparent transparent transparent #8b929c;
      }
    }
  }
}
