.page__aside_for_navigation {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 2;
  top: 0;
  box-sizing: border-box;
  height: 100vh;
  padding: 24px 0;
  background-color: $grayLight;

  @media print {
    display: block;
    position: static;
    height: auto;
  }

  > .page__title {
    flex-shrink: 0;
    padding-right: 44px;
  }

  > .page__stripe_for_search {
    flex-shrink: 0;
  }
}
