<!DOCTYPE html>
<html lang="ru" class="document">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Blueprinter</title>
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABXUExURUxpcWGf/16d/16d/16d/16d/16d/16d/16d/16d/12d/16d/12d/16e/16d/1+c/1+d/2Ke/16d/1+d/16e/16d/16d/12d/16c/1+d/1+d/1+e/16d/4PVDSEAAAAcdFJOUwAHWtTd8ez69eaPYxaYsTc/D6YluC9wg33Ch0yEZNeRAAAACXBIWXMAAAivAAAIrwEWTApmAAABKklEQVQ4y51Ta5ODIBBDEdhVwUd9tJ38/995oNJiizN3x6cdEzZLsgrxp3NbxnG5XeMNgRnUXOKo4E+FC0arNtwzVJsllHidMkuoVcRV/T9CCbPj5kKi1XFInR/St2ACiC8aCDFoA6Vg9HBBsKYv67rsjc3jHda9WNHl8EJWxVFVssgQ7uhj2eOeSTpVtuY780c6+6Af31GXZ0vSyOfFPmk6X5joaZd5n7kGvEPypHqT3i+gDq9xRm7+pwG0estFGhfU9oiIxjdhJNpj85M5PpZAmpc7xdY0HHaCY63eBneIuyNZ8LEEoJRAx8eKxRQlqlQi3uLJO6QPCfce0h0SOvg1UehBfH5m2C2/YMG+YYRhBTmnRs0Sig3GPZ9+dbb52ICisW7tf/PD/wBAjBvhNUKMmgAAAFd6VFh0UmF3IHByb2ZpbGUgdHlwZSBpcHRjAAB4nOPyDAhxVigoyk/LzEnlUgADIwsuYwsTIxNLkxQDEyBEgDTDZAMjs1Qgy9jUyMTMxBzEB8uASKBKLgDqFxF08kI1lQAAAABJRU5ErkJggg=="/>
  <link href="./custom-style.css" rel="stylesheet">
</head>
<body class="document__body">
  <div id="react-app" class="document__app"></div>
  <% if (process.env.NODE_ENV === 'production') { %>
  <script type="text/javascript" src="./refract.js"></script>
  <% } %>
</body>
</html>