@import '../transition.vars';

.transition__example-label {
  position: relative;
  overflow: hidden;
  max-width: 200px;
  margin: $label-margin-vertical $label-margin-horizontal;
  margin-right: 0;
  padding-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $color--secondary;

  @media print {
    max-width: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid;
  }

  &:hover {
    @media not print {
      color: $color--highlight;
      cursor: pointer;
    }
  }
}
