$white: #fff;
$red: #ff4e4e;
$dark-red: #d33653;
$orange: #ffa625;
$green: #1ebc86;
$blue: #0f73ee;
$text-blue: #253cff;

$dark-blue: #14182f;
$dark-gray: #8b929c;
$cloudy-gray: #c5c8cd;
$gray: #e8eaed;
$light-gray: #f4f5f7;
