$white: #fff;
$black: #000;
$gray: #e8eaed;
$red: #ff4e4e;
$orange: #ffa625;
$green: #1ebc86;
$blue: #0f73ee;
$ebony: #14182f;
$steelGray: #8b929c;

$blueLight: #d9edf7;
$greenLight: #dff0d8;
$orangeLight: #fcf8e3;
$redLight: #f2dede;
$grayLight: #f4f5f7;
$grayLighter: #eceef2;

$grayExtraLight: #fbfbfb;
$grayDark: #333;
$blueDark: #253cff;
$redDark: #d9534f;
$greenDark: #56b82e;
$orangeDark: #ed9c28;
