.search-stripe__manual-search-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 32px;
  color: var(--stroke-color--icon);

  &:hover,
  &:focus {
    color: var(--stroke-color--icon-hover);
  }

  &:hover {
    .search-stripe__button-hint {
      display: block;
    }
  }
}
